sentence-transformers==2.2.2
transformers
tokenizers
torch
torchvision
diffusers==0.18.0
accelerate>=0.26.0
peft==0.4.0
gradio==3.23.0
huggingface_hub==0.25.1
safetensors
networkx
opencv-python
numpy
Pillow
tqdm
einops
pyyaml
h5py
datasets